/*
!.github
!git-hooks
!gradle
!images
!imagesOrig
!meta
!resources
!src
!test
!test-integration
!test-resources
!.gitignore
!build.gradle
!gradlew
!gradlew.bat
!intTests-Xvfb.sh
!/*.md

.vscode
.classpath
.project
.settings

resources/build.txt
resources/notes.html
Log4j2Plugins.dat
.*
